.card{
    -webkit-box-shadow: -4px 7px 5px 1px rgba(0,0,0,0.41);
-moz-box-shadow: -4px 7px 5px 1px rgba(0,0,0,0.41);
box-shadow: -4px 7px 5px 1px rgba(0,0,0,0.41);
border-radius: 5px;
margin-top: 20px;
}