.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerImage {
  display: flex;
  width: 40%;
  height: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.containerImage div{
    width: 220px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
background-color: rgba(150, 149, 147, 0.616);
}
.containerImage div img{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}