<div class="container">
  <img src="/assets/imagenes/logo.jpg" alt="" style="width: 200px" />
  <div class="containerImage">
    <div>
      <img src="/assets/imagenes/logo.jpg" alt=""  />
    </div>
    <div>
      <img src="/assets/imagenes/logo.jpg" alt=""  />
    </div>
    <div>
      <img src="/assets/imagenes/logo.jpg" alt=""  />
    </div>
    <div>
        <img src="/assets/imagenes/logo.jpg" alt=""  />
      </div>
      <div>
        <img src="/assets/imagenes/logo.jpg" alt=""  />
      </div>
      <div>
        <img src="/assets/imagenes/logo.jpg" alt=""  />
      </div>
  </div>
</div>
