<div class="background flex justify-content-center align-items-center w-full ">
  <div class="container">
      <img src="/assets/imagenes/logodosmil.png" alt="" style="width: 300px"  />
      <div class="containerSearchBar" >
        
          <p-calendar [(ngModel)]="reserva.date" selectionMode="range" [readonlyInput]="true" (onSelect)="onDateSelect($event)" [minDate]="minDate"></p-calendar>
          <p-dropdown [(ngModel)]="reserva.numero_personas"  [options]="options" optionLabel="value"></p-dropdown>
          <p-inputNumber [ngModel]="reserva.total"  mode="currency" currency="EUR" > </p-inputNumber>
          
      </div>
      <button
      pButton
      pRipple
      label="Enviar"
      class="w-full"
      (click)="reservar()"
    ></button>
  </div>
  </div>

<p-toast></p-toast>