<p-toast></p-toast>
<div class="background flex justify-content-center align-items-center w-full ">
  <div class="card grid cardContainer">
    <h2 class="col-12 flex justify-content-center alig-items-center">
      Registro
    </h2>
    <form class="col-12 grid" [formGroup]="formRegister" style="margin: auto;">
      <div
        class="field col-12 md:col-6 flex justify-content-center alig-items-center"
      >
        <span class="p-float-label mt-3 w-full">
          <input
            class="w-full"
            pInputText
            formControlName="nombre"
            id="nombre"
            [ngClass]="{ 'ng-invalid ng-dirty': isValidField('nombre') }"
          />
          <label htmlFor="nombre">Nombre:</label>
        </span>
      </div>
      <div
        class="field col-12 md:col-6 flex justify-content-center alig-items-center"
      >
        <span class="p-float-label mt-3 w-full">
          <input
            class="w-full"
            pInputText
            id="email"
            formControlName="correo"
            [ngClass]="{ 'ng-invalid ng-dirty': isValidField('correo') }"
          />
          <label htmlFor="email">Email:</label>
        </span>
      </div>
      <div class="field col-12">
        <span class="p-float-label">
          <input
            class="w-full"
            pInputText
            id="apellido"
            formControlName="apellido"
            [ngClass]="{ 'ng-invalid ng-dirty': isValidField('apellido') }"
          />
          <label for="apellido">Apellido:</label>
        </span>
      </div>

      <div class="field col-12">
        <span class="p-float-label">
          <input
            class="w-full"
            pInputText
            type="password"
            id="contrasenia"
            formControlName="contrasenia"
            [ngClass]="{ 'ng-invalid ng-dirty': isValidField('contrasenia') }"
          />
          <label for="apellido">Contrasenia:</label>
        </span>
      </div>

      <div class="field col-12">
        <button
          pButton
          pRipple
          label="Enviar"
          class="w-full"
          (click)="onSubmit()"
        ></button>
      </div>
      <div class="field col-12">
        <button
          pButton
          pRipple
          label="Volver al Login"
          class="w-full"
          routerLink="/login"
        ></button>
      </div>
    </form>
  </div>
</div>
