<div class="container">
    <div class="card">
      <h3>Valoración de la Casa</h3>
      <form (submit)="guardarComentarios()">
        <div class="form-group">
          <label for="fecha">Fecha de Publicación:</label>
          <input type="date" id="fecha" name="fecha" [(ngModel)]="comentario.fecha_publicacion" required>
        </div>
        <div class="form-group">
          <label for="valoracion">Valoración:</label>
          <textarea id="valoracion" name="valoracion" [(ngModel)]="comentario.texto" required></textarea>
        </div>
        <button type="submit">Guardar Comentario</button>
      </form>
    </div>
  
    <div class="comment-list">
      <h3>Lista de Comentarios</h3>
      <div class="card" *ngFor="let comentario of comentarios">
        <p>Fecha de Publicación: {{ comentario.fecha_publicacion | date }}</p>
        <p>Comentario: {{ comentario.texto }}</p>
      </div>
    </div>
  </div>
  